<!-- <p>login works!</p> -->
<div fxLayoutAlign = "center center" fxFlexFill class="main-div">
    <mat-card fxFlex = "40">
        <mat-toolbar>Signup as a new account</mat-toolbar>
        <form fxLayoutAlign = "stretch" fxLayout = "column" class="signup-form">
            <mat-form-field >
              <input matInput placeholder="First Name">
            </mat-form-field>

            <mat-form-field >
                <input matInput placeholder="Last Name">
            </mat-form-field> 

            <mat-form-field >
                <input matInput type="email" placeholder="Email">
            </mat-form-field> 

            <mat-form-field >
                <input matInput placeholder="Phone Number">
            </mat-form-field> 
           
            <button class="signup-btn" mat-raised-button type="submit">Signup</button>
          </form>  
    </mat-card>
</div>